*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5em;
    background: #33CCCC; /* Fallback */
    animation: color 9s infinite linear;
    text-align: center;
}
.container img{
    width: 10em;
    height: 10em;
    padding: 2em;
}
@keyframes color {
  0%   { background: #33CCCC; }
  20%  { background: #33CC36; }
  40%  { background: #B8CC33; }
  60%  { background: #FCCA00; }
  80%  { background: #33CC36; }
  100% { background: #33CCCC; }
}
.container p{
    color: rgb(100, 94, 94);
}
.container a{
    text-decoration: none;
    font-size:1.5rem;
    padding: 30px;
    color: black;
}